<div class="container-lg">
  <h2 mat-dialog-title class="text-center mt-3 mb-2">{{ data.id ? 'Editar Vehículo' : 'Agregar Vehículo' }}</h2>
  <form (ngSubmit)="dialogRef.close(data)" class="dialog-form">
    <mat-form-field appearance="fill">
      <mat-label>VIN</mat-label>
      <input matInput [(ngModel)]="data.vin" name="vin" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Placa</mat-label>
      <input matInput [(ngModel)]="data.licensePlate" name="licensePlate" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Modelo</mat-label>
      <input matInput [(ngModel)]="data.model" name="model" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estatus</mat-label>
      <mat-select [(ngModel)]="data.status.name" name="status" required>
        <mat-option *ngFor="let state of data.status" [value]="data.status.id">
          {{ state.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions align="end" class="text-center">
      <button class="btn btn-danger me-2 mb-3" (click)="onCancel()">Cancelar</button>
      <button class="btn btn-success mb-3" color="primary" type="submit">Guardar</button>
    </div>
  </form>
</div>

